<div class="jumbotron">
  <h1>Hablame Hincapie!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Using AngularJS, Twitter Bootstrap<br>
    Using <a href="http://placehold.it/">http://placehold.it/</a> for default images
    
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Begin your search!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>