<div class="container">


    <div class="row">
        <form ng-submit="search()">
            <div class="input-group">
                <input type="text" ng-model="sSearchTerm" placeholder="Who are you looking for?" class="form-control">
                <span class="input-group-btn">                
                    <input type="submit" class="btn btn-primary" value="Search">                
                    <input type="button" class="btn btn-danger" value="Clean" ng-click="clean()">
                </span>
            </div>
        </form>
    </div>

    <div class="results">
        <div class="panel panel-primary animate" ng-repeat="oPeople in aoPeople">
            <div class="panel-heading">
                <h3 class="panel-title"><a ng-href="#detail/{{oPeople.id}}">{{oPeople.name}}</a></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <a ng-href="#detail/{{oPeople.id}}">
                            <img class="img-thumbnail" ng-if="oPeople.profile_path" data-ng-src="http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w45/{{oPeople.profile_path}}">
                            <img class="img-thumbnail" ng-if="!oPeople.profile_path" data-ng-src="http://placehold.it/45x68&text=tmdb">
                        </a>
                    </div>
                    <div class="col-md-10">
                        <h4>Known For</h4>
                        <ul ng-repeat="oMovie in oPeople.known_for">
                            <li> <b>{{oMovie.original_title|| oMovie.name}}</b> ({{oMovie.media_type}})</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>